@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]){
        --primary: #43A047;
        --primary-hover: #4CAF50;
        --primary-focus: rgba(67,160,71,0.25);
        --primary-inverse: #FFF;
    }
}
:root {
    --clr-body-bg: hsl(206%, 29%, 9%);
    --clr-card-bg: hsl(0 0% 15%);
    --clr-light-text: hsl(0°, 0%, 100%);
      --clr-dark-text: hsl(0°, 0%, 0%);
    --clr-heading: hsl(45, 78%, 82%);
    --clr-border: hsl(0°, 0%, 20%);
  }
html{
    scroll-behavior: smooth;
    }
body {
    background-color: var( --clr-body-bg);
    backdrop-filter: blur(20px);

    color: white;
     font-family: 'Arial Black', sans-serif;
    scroll-behavior: smooth;
}
 body::-webkit-scrollbar {
        width: 0.25rem;
    }
        body::-webkit-scrollbar-track {
        background: #1E1E24;
    }
        body::-webkit-scrollbar-thumb {
        background: #1095C1;
    }
 body::-webkit-scrollbar:hover {
        width: 1rem;
    }
        body::-webkit-scrollbar-track:hover {
        background: #1E1E24;
    }
        body::-webkit-scrollbar-thumb:hover {
        background: #1095C1;
    }
.container {
    text-align: center;
    width: 100%;
}

.columns-container {d
    display: flex;
    justify-content: space-around;
}

.columns-container > div {
    flex: 1;
}

h1 {
    color: #0bec7c;
    font-family: 'Orbitron', sans-serif;


;
}

label {
    margin-right: 10px;
    color: white; /* Set text color to white */
}

#itemName {
    padding: 8px;
    margin-right: 8px;
    color: white; /* Set text color to white */
    width: 12%;
    background-color: #1f1f1f;
    text-align: center;
    font-family: 'Arial Black', sans-serif;


}
#itemName:focus {
    padding: 8px;
    margin-right: 8px;
    color: white; /* Set text color to white */
    width: 18%;
    background-color: #1f1f1f;
    text-align: center;
    font-family: 'Arial Black', sans-serif;


}


button {
    padding: 8px;
    background-color: #0bec7c;
    border: none;
    color: black;
    cursor: pointer;
    border: 2px solid #0bec7c;
        border-radius: 8px;


}
button:hover {
    padding: 8px;
    background-color: #4fd355;
    border: none;
    color: white;
    cursor: pointer;
    border: 5px solid #333;
    border-radius: 8px;

}


#priceResult {
    color: white; /* Set text color to white */
}

/* New CSS for invisible bullets and horizontal line */
#priceResult ul {
    list-style: none;
    padding: 0;
}

#priceResult li {
    border-bottom: 1px solid #555; /* Horizontal line color */
    margin-bottom: 5px;
    padding-bottom: 5px;
}


.price-result-item {
    margin-top: 10px;
}

/* Styles for displaying orders */
.orders-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buy-orders,
.sell-orders {
    flex: 1;
}

.order-list {
    list-style: none;
    padding: 0;
}

.order-item {
    border: 1px solid #4fd355;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
}

.order-item p {
    margin: 5px 0;
    color: white;
    font-size: 14px;
}

/* Styles for buy and sell columns */
.buy-orders {
    order: 2;
}

.sell-orders {
    order: 1;
}

/* Add a little space between columns */
.orders-container > div {
    margin: 0 10px;
}

/* Additional Styles for Columns */
.columns-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.column {
    flex: 1;
    margin: 10px; /* Add margin to columns for spacing */
    padding: 15px; /* Add padding for better spacing */
    background-color: #333; /* Dark background color for columns */
    border-radius: 8px; /* Add rounded corners */
}

.column-header {
    color: #4CAF50;
    font-size: 18px;
    margin-bottom: 10px;
}

.column-content {
    color: white;
    font-size: 16px;
}
/* Styles for Sort By and Filter By */
#sortBy, #statusFilter, #checkPriceBtn, #showDropSourcesBtn {
    font-family: 'Arial Black', sans-serif;
    width: auto
}
#platform {
    font-family: 'Arial Black', sans-serif;
}

.filter-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.filter-container > div {
    flex: 1;
    margin: 0 10px;
}

select {
    padding: 8px;
    color: black;
    background-color: #4fd355;
    border: none;
    cursor: pointer;
}

/* Style checkboxes using the label */
/** input[type="checkbox"] {
    display: none;
}
 
input[type="checkbox"] + label {
    display: inline-block;
    padding: 8px;
    margin: 0 5px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    background-color: #4fd355;
    color: #333;
}
input[type="checkbox"]:hover {
    display: none;
    border: 5px solid #333;
    border-radius: 8px;


}

input[type="checkbox"]:hover + label {
    display: inline-block;
    padding: 8px;
    margin: 0 5px;
    background-color: #4fd355;
    border: 1px solid #4fd355;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    border: 5px solid #4fd355;
    border-radius: 8px;


}

input[type="checkbox"]:checked:hover + label {
    background-color: #333;
    color: #fff;
    border: 5px solid #333;
    border-radius: 8px;


}


/* Add this to your style.css file */

.plat-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.plat-filter div {
    flex: 1;
}

.plat-filter label {
    color: white;
    margin-right: 5px;
}

.plat-filter input {
    padding: 5px;
}
/* Add this to your style.css file */
#jsonResult {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #4CAF50;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    overflow-y: scroll;
}

#jsonResult > div {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
}
.drop-sources-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.drop-sources-table th, .drop-sources-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.drop-sources-table th {
    background-color: #333;
}
#themeToggle {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 9999;
  color: white; /* Set the initial color */
}

#moonIcon {
    margin-right: 100px;
  display: inline-block;
}

#sunIcon {
  display: none;
}
#info-circle {
  display: inline-block;
}

.light-theme #sunIcon {
  display: inline-block;
}

.light-theme #moonIcon {
  display: none;
}

/* Dark theme styles */
body {
  color: white;
    overflow-x: hidden;
}

/* Light theme styles */
body.light-theme {
  background-color: white;
  color: black;
  overflow-x: hidden;
}
body.dark-theme {
  background-color: var( --clr-body-bg);
  color: white;
      overflow-x: hidden;
}

.dark-theme label {
  color: white;
}

.dark-theme select {
  color: black;
  background-color: #4fd355;
  border: none;
  cursor: pointer;
}

/* Light theme styles */
body.light-theme {
  background-color: #f3f3f3;
  color: black;
}

.light-theme label {
  color: black;
}

.light-theme select {
  color: white;
  background-color: var(--clr-body-bg);
  border: none;
  cursor: pointer;
}
/**
.dark-theme input[type="checkbox"] {
    display: none;
}


.dark-theme input[type="checkbox"] + label {
    display: inline-block;
    padding: 8px;
    margin: 0 5px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.dark-theme input[type="checkbox"]:checked + label {
    background-color: #4fd355;
    color: #333;
}
.dark-theme input[type="checkbox"]:hover {
    display: none;
    border: 5px solid #333;
    border-radius: 8px;


}

.dark-theme input[type="checkbox"]:hover + label {
    display: inline-block;
    padding: 8px;
    margin: 0 5px;
    background-color: #4fd355;
    border: 1px solid #4fd355;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    border: 5px solid #4fd355;
    border-radius: 8px;


}

.dark-theme input[type="checkbox"]:checked:hover + label {
    background-color: #333;
    color: #fff;
    border: 5px solid #333;
    border-radius: 8px;


}
.light-theme input[type="checkbox"] {
    display: none;
}

.light-theme input[type="checkbox"] + label {
    display: inline-block;
    padding: 8px;
    margin: 0 5px;
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

.light-theme input[type="checkbox"]:checked + label {
    background-color: #4fd355;
    color: #d3d3d3;
}
.light-theme input[type="checkbox"]:hover {
    display: none;
    border: 5px solid #d3d3d3;
    border-radius: 8px;


}

.light-theme input[type="checkbox"]:hover + label {
    display: inline-block;
    padding: 8px;
    margin: 0 5px;
    background-color: #4fd355;
    border: 1px solid #4fd355;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    border: 5px solid #4fd355;
    border-radius: 8px;


}

.light-theme input[type="checkbox"]:checked:hover + label {
    background-color: #d3d3d3;
    color: #fff;
    border: 5px solid #d3d3d3;
    border-radius: 8px;


}
.dark-theme #priceResult {
    color: white; /* Set text color to white */
}

/* New CSS for invisible bullets and horizontal line */
.dark-theme #priceResult ul {
    list-style: none;
    padding: 0;

}
.dark-theme #priceResult ul::first-letter {
    list-style: none;
    padding: 0;
    text-transform: uppercase;

}

.dark-theme #priceResult li::first-letter {
    border-bottom: 1px solid #555; /* Horizontal line color */
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.light-theme #priceResult {
    color: black; /* Set text color to white */
}

/* New CSS for invisible bullets and horizontal line */
.light-theme #priceResult ul::first-letter {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

.lighttheme #priceResult li::first-letter {
    border-bottom: 1px solid #555; /* Horizontal line color */
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.dark-theme .drop-sources-table th {
    background-color: #ccc;
}
.light-theme .drop-sources-table th {
    background-color: #d3d3d3;
}
/*
.dark-theme #itemName { 
    padding: 8px;
    margin-right: 8px;
    color: white; 
    border: 3px solid #4fd355;
    width: 20%;
    background-color: #1f1f1f;
    text-align: center;
    font-family: 'Arial Black', sans-serif; 


}
.dark-theme #itemName:focus {
    padding: 8px;
    margin-right: 8px;
    color: white; 
    border: 3px solid #4fd355;
    width: 30%;
    background-color: #1f1f1f;
    text-align: center;
    font-family: 'Arial Black', sans-serif;


}
.light-theme #itemName {
    padding: 8px;
    margin-right: 8px;
    color: black;
    border: 3px solid #4fd355;
    width: 20%;
    background-color: #ccc;
    text-align: center;
    font-family: 'Arial Black', sans-serif;


}
.light-theme #itemName:focus {
    padding: 8px;
    margin-right: 8px;
    color: black;
    border: 3px solid #4fd355;
    width: 30%;
    background-color: #ccc;
    text-align: center;
    font-family: 'Arial Black', sans-serif;


} */
.dark-theme h1,h2,h3,h4,h5 {
    color: var(--clr-light-text);
    }
.light-theme h1,h2,h3,h4,h5 {
    color: var(--clr-dark-text);
    }
.dark-theme tr {
    background-color: transparent;
    color: transparent;
    border: 0px;
    }
.light-theme tr {
    background-color: transparent;
    color: transparent;
    border: 0px;
    }
#text {
    width: auto;
    height: auto;
    display: flex;
    margin: 100px;
justify-content: center;
align-items: center;
}
#text:has(.fancy:hover) .sentence:not(.fancy:hover){
    opacity: 0.6;
}
   article{
    padding: 500px;
   }

.dark-theme select{
    color: var(--clr-light-text);
    border: #374956;

}
 .light-theme select{
    color: var(--clr-dark-text);
     border: #374956;
}       
      

